[Unit]
Before=local-fs.target

[Mount]
What=tmpfs
Where=<HOME>/.cache
Type=tmpfs
Options=noatime,nodiratime,nodev,nosuid,uid=<UID>,gid=<GID>,size=300M
