[Unit]
Description=Temporary Directory for <USER> cache
ConditionPathIsSymbolicLink=!<HOME>/.cache
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target

[Mount]
What=tmpfs
Where=<HOME>/.cache
Type=tmpfs
Options=noatime,nodiratime,nodev,nosuid,uid=<UID>,gid=<GID>,size=300M

[Install]
WantedBy=local-fs.target
