[Unit]
Description=M711-IR emulator
After=network.target

[Service]
User=dmitry
Group=dmitry
Type=simple
Restart=always
RestartSec=3
WorkingDirectory=/media/documents/IR_MEDIA
ExecStart=/media/documents/Projects/ir_server/ir.bin

[Install]
WantedBy=multi-user.target
