[Unit]
Description=<USER> chromium ramdisk save/restore
RequiresMountsFor=<HOME>/.config/chromium

[Service]
User=<USER>
Group=<USER>
ExecStop=/bin/bash /tools/files/chrome-ramdisk/chrome-ramdisk save <HOME>
ExecStart=/bin/bash /tools/files/chrome-ramdisk/chrome-ramdisk restore <HOME>
Type=oneshot
RemainAfterExit=yes
Requires=<MOUNT>
After=<MOUNT>

[Install]
WantedBy=multi-user.target
