[Unit]
Description=<USER> chromium ramdisk save/restore
RequiresMountsFor=<HOME>/.config/chromium

[Service]
User=<USER>
Group=<USER>
ExecStop=bash /tools/files/chrome-ramdisk/chrome-ramdisk save <HOME>
ExecStart=bash /tools/files/chrome-ramdisk/chrome-ramdisk restore <HOME>
Type=oneshot
RemainAfterExit=yes
Requires=chrome-ramdisk-<USER>.mount
After=chrome-ramdisk-<USER>.mount

[Install]
WantedBy=multi-user.target
