[Desktop Entry]
Type=Application
Exec=firefox -new-window https://git.rczifort.local/
Name=GitLab
GenericName=GitLab
Icon=gitlab
Terminal=false
Categories=Development;Network
NotShowIn=GNOME;LXDE;MATE;XFCE;Cinnamon;X-Cinnamon;Pantheon

