[Desktop Entry]
Type=Application
Exec=xdg-open https://ex01.rczifort.local
Name=Exchange
GenericName=Exchange
Keywords=Outlook;Exchange;Ex01
Icon=ms-outlook
Terminal=false
Categories=Network;Email;Office;X-WEB-RCZI

