[Desktop Entry]
Type=Application
Exec=xdg-open http://redmine.rczifort.local/redmine
Name=Redmine
GenericName=Redmine
Keywords=Redmine;Bug;Bugtracker;Issue;Issues
Icon=redmine
Terminal=false
Categories=Development;Network;X-WEB-RCZI

