[Desktop Entry]
Type=Application
Exec=epiphany --new-window https://git.rczifort.local/
Name=GitLab
GenericName=GitLab
Icon=gitlab
Terminal=false
Categories=Development;Network
OnlyShowIn=GNOME;LXDE;MATE;XFCE;Cinnamon;X-Cinnamon;Pantheon

