[Unit]
Description=M711-IR emulator build service
After=network.target
ConditionFileNotEmpty=/media/documents/Tools/ir_build.sh

[Service]
ExecStart=/bin/bash /media/documents/Tools/ir_build.sh

[Install]
WantedBy=multi-user.target
