[Unit]
Description=M711-IR emulator build service
After=network.target

[Service]
Type=oneshot

ConditionPathExists=/media/documents/Tools/ir_build.sh
ExecStart=bash /media/documents/Tools/ir_build.sh

[Install]
WantedBy=multi-user.target
