[Unit]
Description=M711-IR emulator
After=network.target

[Service]
Type=oneshot

ConditionPathExists=/media/documents/Tools/ir_server.sh
ExecStart=bash /media/documents/Tools/ir_server.sh

[Install]
WantedBy=multi-user.target
