[Unit]
Description=Time sync script
After=network.target
ConditionFileNotEmpty=/media/documents/Tools/timesync.sh

[Service]
ExecStart=/bin/bash /media/documents/Tools/timesync.sh

[Install]
WantedBy=multi-user.target
