[Unit]
Description=Time sync script
After=network.target

[Service]
Type=oneshot

ConditionPathExists=/media/documents/Tools/timesync.sh
ExecStart=bash /media/documents/Tools/timesync.sh

[Install]
WantedBy=multi-user.target
