[Unit]
Description=Custom configuration startup script
ConditionFileIsExecutable=/tools/startup.sh
After=network.target

[Service]
Type=forking
ExecStart=/bin/bash /tools/startup.sh
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
