[Unit]
Description=EiskaltDC++ daemon
After=network.target

[Service]
Type=forking
User=root
Group=plugdev

ExecStart=/usr/bin/eiskaltdcpp-daemon --daemon --ip=0.0.0.0 --confdir=/etc/eiskaltdcpp

[Install]
WantedBy=network-online.target
